@import "reset.css";
.header {
  height: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.header__area {
  width: 1025px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__area > img {
  width: 128px;
  height: 36px;
  justify-content: left;
}

.body__contents {
  height: 100%;
  margin: 0 auto;
  width: 1024px;
  padding-bottom: 24px;
}

.body__contents__banner {
  height: 300px;
  background-color: yellow;
}
.body__contents > h1 {
  margin-top: 16px;
}

.body__contents__banner > img {
  width: 100%;
  height: 300px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.products__card {
  width: 180px;
  height: 300px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 12px;
  overflow: hidden;
}
.products__card__01 {
  width: 100%;
  height: 210px;
}

.products__card__content {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.products__card__content__name {
  font-size: 14px;
}

.products__card__content__price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}
.products__card__content__seller {
  display: flex;
  margin-top: 12px;
}

.products__card__content__sellerimg {
  width: 24px;
}
.footer {
  height: 200px;
  background-color: red;
}
